html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--din-light);
  font-weight: 100;
  color: var(--svart);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow: hidden;
  --din-light: 'FFDINWebProLight', sans-serif;
  --din-italic: 'DINW01LightItalic', sans-serif;
  --din-regular: 'DINW01Regular', sans-serif;
  --din-medium: 'DINW01Medium', sans-serif;
  --newzald: 'NewZaldBook', serif;
  --1px: 1px;
  --2px: 2px;
  --05: 4px;
  --1: 8px;
  --105: 6px;
  --2: 16px;
  --3: 24px;
  --4: 32px;
  --5: 40px;
  --6: 48px;
  --7: 56px;
  --8: 64px;
}

h1, h2, h3 {
  font-family: var(--newzald);
  font-weight: 100;
}

a {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
}